body{
    overflow-x: hidden;
}


.image-container {
    position: relative;
  }


#img{
    width: 1500px;
    height: 650px;
 
}

.overlay {
    position: absolute;
    bottom: -550px;
    color: white;
    left: 20px;
    width: 100%;
    height: 100%;
    
    letter-spacing: 5px;
  }

  .about {
    display: flex;
    align-items: flex-start;
    padding: 20px; 
    margin-top: 100px;
    
  }
  
  .image {
    margin-right: 18px;
  }
  
  .image img {
    max-width: 80%;
    max-height: 20%;
    padding-left: 100px;

  }
  
  .text {
    flex: 2;
  }
  
  .about h1 {
    text-align: center;
    margin-right: 200px;
  }
  

  .about p {
   margin-right: 200px;
  }

  .menu{
    margin-top: 100px;
  }
  .menu h1{
    text-align: center;
  }
  
  .menu-item {
    display: flex;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item img {
    max-width: 150px;
    height: auto;
    border-radius: 5px 0 0 5px;
}

.item-details {
    padding: 20px;
}

h2 {
    font-size: 24px;
    margin: 0;
}
 

.contact-form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 100px;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="datetime-local"],
textarea {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 80px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


#adress{
    color: blue;
}


.footer{
    width: 1600px;
    height: 100px;
    background-color: grey;
    margin-top: 100px;
}